.Meaning h3 {
  font-size: 30px;
  font-weight: bold;
  color: #f76b8a;
  margin-bottom: 20px;
}

.Meaning .definition {
  font-size: 18px;
}

.Meaning .example {
  font-size: 15px;
  margin: 10px;
  color: #00bdaa;
}
