.Phonetic li {
  color: #00bdaa;
  font-size: 25px;
  margin: 10px;
  transition: all 150ms ease-in-out;
}

.Phonetic li:hover {
  cursor: pointer;
  opacity: 0.75;
}

.Phonetic .text {
  font-size: 18px;
}
