.Phonetic {
  margin: 25px 0;
}

.Phonetic a {
  border: 1px solid #00bdaa;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 15px;
  transition: all 150ms ease-in-out;
  font-size: 14px;
  font-weight: bold;
  color: #00bdaa;
}

.Phonetic a:hover {
  color: #f76b8a;
  text-decoration: none;
  border: 1px solid #f76b8a;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
  margin-left: 10px;
}
